{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h1>Order Detail</h1>
                </div>
                <div class="card-body">
                    <div class="order-info mb-4">
                        <p><strong>Order ID:</strong> {{ order.id }}</p>
                        <p><strong>Customer:</strong> {{ order.customer.name }}</p>
                        <p><strong>Product:</strong> {{ order.product.name }}</p>
                        <p><strong>Quantity:</strong> {{ order.quantity }}</p>
                    </div>
                    <a href="{% url 'order_edit' order.id %}" class="btn btn-primary">Edit Order</a>
                    <a href="{% url 'order_delete' order.id %}" class="btn btn-danger">Delete Order</a>
                    <a href="{% url 'order_list' %}" class="btn btn-secondary">Back to Orders</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-VCSFqnvsS+Ka4x5WgZsZDI3b4BcoGrfW/9BqE6FL3IuJhwnPojHpnh5c23GGNCJb" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-pzjw8f+qx6V5f4vJdh8L3L1fyukvjt9ym6DwEWE99MfUjiqazb3Xm3Vo3vclwNXd" crossorigin="anonymous"></script>
{% endblock %}
